<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Web Page</title>
</head>
<body>
    <h1>Here are some delicious foods!</h1>
    @{
        var Foods = new List <string> {"Apple Pie","Burritos","Clam Casino","Donuts"};
            foreach (var info in Foods)
                {
                    @if(info[0] == 'C')
                        {
                            <p style="color: red; margin-left: 3%;">@info</p>
                        }
                    else
                    {
                        <p style="margin-left: 3%;">@info</p>
                    }
                }

    }
</body>
</html>