@model Wedding
<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="row">
                <div class="col-8 mt-4 text-center"><h1>Plan Your Wedding</h1></div>
                <div class="col-4"><a href="/dashboard">Dashboard</a> | <a href="logout">Log Out</a></div>
            </div>
            <form asp-action="CreateWedding" asp-controller="Home" method="post">
                <div class="row">
                    <div class="col mt-4">
                        <div class="row">
                            <br><span asp-validation-for="WedderOne"></span><br>
                        </div>
                        <div class="row">
                            <div class="col-3 mt-2 mb-2"><label asp-for="WedderOne"></label></div> 
                            <div class="col-4 mt-2 mb-2"><input style="width: 200px;" asp-for="WedderOne"></div>
                        </div>
                        <div class="row">
                            <br><span asp-validation-for="WedderTwo"></span><br>
                        </div>
                        <div class="row">
                            <div class="col-3 mt-2 mb-2"><label asp-for="WedderTwo"></label></div> 
                            <div class="col-4 mt-2 mb-2"><input style="width: 200px;" asp-for="WedderTwo"></div>
                        </div>
                        <div class="row">
                            <br><span asp-validation-for="Date"></span><br>
                        </div>
                        <div class="row">
                            <div class="col-3 mt-2 mb-2"><label asp-for="Date"></label></div> 
                            <div class="col-4 mt-2 mb-2"><input type="date" style="width: 200px;" asp-for="Date"></div>
                        </div>
                        <div class="row">
                            <br><span asp-validation-for="WeddingAddress"></span><br>
                        </div>
                        <div class="row">
                            <div class="col-3 mt-2 mb-2"><label asp-for="WeddingAddress"></label></div> 
                            <div class="col-4 mt-2 mb-2"><input style="width: 200px;" asp-for="WeddingAddress"></div>
                        </div>
                        @* <input type="hidden" asp-for="Creator.UserId" value="HttpContext.Session.GetInt32("UserId")"> *@
                        <div  class="row">
                            <div class="col-3 mt-2 mb-2">
                                <input value="Create" type="submit">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>