@model int[]
<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 text-center m-4">
            <h2>Here are some numbers!</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 text-center m-4">
            @foreach(var number in Model)
            {
                <p>@number</p>;
            }
        </div>
    </div>
</div> 
