@model Category
<div class="container">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col text-center"><h1> <a href="/product">Products</a> | Categories</h1></div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-10"><h2>New Category</h2></div>
                    </div>
                    <form asp-action="NewCategory" asp-controller="Home" method="post">
                        <div class="row mt-5 mb-2">
                                <span class="row" asp-validation-for="Name"></span>
                        </div>
                        <div class="row mt-2 mb-2">
                                <div class="col-3"><label asp-for="Name"></label></div> 
                                <div class="col-4"><input style="width: 200px;" asp-for="Name"></div>
                        </div>
                        <div class="row mt-2 mb-2">
                            <div class="col-2 m-2"></div>
                            <div class="col-4"><input value="Create" type="submit"></div>
                        </div>
                    </form>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-10"><h2>Existing Categories</h2></div>
                    </div>
                    <div class="row mt-4">
                        <div class="col">
                                @foreach(var l in ViewBag.Cate)
                                {
                                    <p><a href="/category/@l.CategoryId">@l.Name</a></p>
                                }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>